@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", sans-serif;
  --color-accent: #cc0000;
  --color-dark: #111111;
  --color-card: #1a1a1a;
}

@layer base {
  body {
    @apply bg-dark text-white font-sans antialiased;
  }
  body.theme-selecciones {
    --color-accent: #2323FF;
  }
  body.theme-f1 {
    --color-accent: #03BFB5;
  }
}
